@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">@Model.Exception.Message  .</h2>

<h3>Exception details (if any) follow:</h3>
@{ var e = @Model.Exception; }
@while (e.InnerException != null)
{
    e = e.InnerException;
    <div class="alert alert-warning">@e.InnerException.Message</div>
}

<br />
The Error occured at: @Model.ControllerName  &nbsp; >>> @Model.ActionName

