@model IEnumerable<BigFoot.Pages>

@{
    ViewBag.Title = "List of Pages";
}

<h2>List of Pages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Page)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Page)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PageID }) |
            @Html.ActionLink("Content", "Details", new { id=item.PageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PageID })
        </td>
    </tr>
   
}

</table>
