@model IEnumerable<BigFoot.Content>



<div id="titbg">
    <h2>@ViewBag.Title</h2>
</div>




@foreach (var p in Model)
{
    <div class="col-lg-4">
        <div class="panel panel-default text-center ">

            @*<div class="panel-body EApic" style="background: url(/Pictures/@p.ImagPath) no-repeat; background-size:cover;">*@
            <div class="panel-body EApic" data-imgsrc="@p.ImagPath" style="background: url(/Pictures/@p.ImagPath) no-repeat; background-size:cover;">
                <div class="EAtext">
                    @foreach (var d in p.UserDatas)
                    {


                        @Html.Raw(d.ContentTypes.PreHTML);
                        @d.Udata;
                        @Html.Raw(d.ContentTypes.PostHTML);



                    }
                </div>
            </div>


            @*closing divs of row*@
        </div>

    </div>
}

@Html.Partial("_imgModal");
<script src="~/Scripts/eaMobi.js"></script>