@{

    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An educational center for preservation of Art, Culture and Environment">
    <meta name="author" content="Erryl Alvares">
    <title>@ViewBag.Title - Big Foot Goa</title>

    <link rel="icon" href="~/Custom/logo.ico">
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .EApic {
            /*width: 314px;*/
            height: 532px;
        }

        .EAtext {
            /*width: 314px;*/
            height: 532px;
            background: #FFF;
            opacity: 0;
        }


        #titbg {
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .input-group
        {
            margin-bottom:10px;
        }
    </style>
</head>
<body>
    @Html.Action("MainMenu", "Home")


    @Scripts.Render("~/bundles/jquery")
    <img src="~/Custom/Shellless.jpg" id="bg" alt="">
    <img src="~/Custom/shell.png" style="position:fixed; right:-38px; bottom: -45px;">


    <div id="TopBody" class="container-fluid">
        <div id="pricing " class="container-fluid pots" style="margin-right: 130px; margin-left: 40px;">

            <div id="titbg">
                <h2 style="margin:0; padding-left:30px;">150 Years Of Gandhiji</h2>
            </div>
            <div style="height:30px">&nbsp;</div>
            <hr />
            <h2 style="font-family: 'Arial'">
                Celebrating Gandhiji at Big Foot
            </h2>
            <p style="font-family: 'Arial'">
                As India celebrates <strong>Gandhiji's 149th birth anniversary</strong>, at <strong>Ancestral Goa</strong> we want to highlight his unique legacy - that of being left-handed. A little known fact about the Mahatma, this characteristic is commemorated at The World Famous Left Handers Museum at the <strong>Big Foot</strong> premises in Lotoulim, where Gandhiji and many other celebrities of note have been featured. To kick-start his 150 year, Ancestral Goa is hosting a collection drive to collect handprints of only left-handers, from 2nd October onwards. These handprints will be stamped on khadi cloth using organic colours, in keeping with Gandhi's ideals - equality. A collage featuring these handprints will be revealed a year later on <strong>2 October 2019, Gandhi Jayanthi</strong>. Left Handers can send their hand print on cloth <strong>12"X10"</strong> with their name on it to <strong>Big Foot</strong>, Loutolim. Which will be a part of the final collage.
            </p>
            <div class="alert alert-success" id="snackbar">Your Form has been Successfully Submitted!</div>
            @model BigFoot.UsercommentsImage
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-offset-3 col-sm-6">
                    @using (Html.BeginForm("Gandhiji", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <h3 class="text-center" style="font-family: Arial; margin-left:30px; color:#fff; margin:0;">User Comments</h3>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row" style="margin:10px 0;">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">Name</span>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">Email</span>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">Phone Number</span>
                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">Picture</span>
                                        <input class="form-control" type="file" id="UploadedFile" name="UploadedFile" />
                                    </div>
                                </div>

                           
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">Comments</span>
                                        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @rows = 1 })
                                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-sm-12 text-center">
                                    <input type="submit" value="Submit" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>

            @{
                var Users = (IEnumerable<UserComments>)ViewBag.user;
            }

            @foreach (var item in Users)
            {
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">

                        @*<div class="panel-body EApic" style="background: url(/Pictures/@p.ImagPath) no-repeat; background-size:cover;">*@
                        <div class="panel-body EApic" style="background: url(../Pictures/@item.Path) no-repeat; background-size:cover;">
                            <div class="EAtext">
                                @Html.Raw(item.Name)
                                <br />
                                @Html.Raw(item.Comment)
                            </div>
                        </div>


                        @*closing divs of row*@
                    </div>
                </div>
            }
        </div>


        <footer>
            <p>&copy; @DateTime.Now.Year - Erryl Alvares</p>
        </footer>
    </div>
    <div class="featurette-divider">
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@

    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a").on('click', function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });

            $(function () {
                $(".slideanim").each(function () {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("slide");
                    }
                });
            });

            $(window).scroll(function () {
                $("#nextappearing").each(function () {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("slide");
                    }
                });
            });

            $("#snackbar").css("display", "none");
            $(".btn").on("click", function () {
                $("#snackbar").css("display", "block");
            });
        })

    </script>


</body>
</html>