@{
 
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An educational center for preservation of Art, Culture and Environment">
    <meta name="author" content="Erryl Alvares">
    <title>@ViewBag.Title - Big Foot Goa</title>

    <link rel="icon" href="~/Custom/logo.ico">
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .EApic {
            /*width: 314px;*/
            height: 532px;
        }

        .EAtext {
            /*width: 314px;*/
            height: 532px;
            background: #FFF;
            opacity: 0;
        }

    
        #titbg {
            margin-top:15px;
            margin-bottom:10px;
        }
    </style>
    <style>
        #map {
            height: 400px;
            width: 100%;
            
        }
    </style>
   
</head>
<body>
    @Html.Action("MainMenu", "Home")



    @Scripts.Render("~/bundles/jquery")
    <img src="~/Custom/Shellless.jpg" id="bg" alt="">
    <img src="~/Custom/shell.png" style="position:fixed; right:-38px; bottom: -45px;">


    <div id="TopBody" class="container-fluid">
        <div id="pricing" class="container-fluid pots" style="background-color: #82663A;">


            @model IEnumerable<BigFoot.Content>



            <div id="titbg">
                <h2 style="margin:0; padding-left:30px;">Information</h2>

            </div>


            <div class="col" style="height: 400px">
                <div id="map"></div>
            </div>
            <div sstyle="height:30px">&nbsp;</div>

            @foreach (var p in Model)
            {
                <div class="col-lg-4">
                    <div class="panel panel-default text-center">

                        @*<div class="panel-body EApic" style="background: url(/Pictures/@p.ImagPath) no-repeat; background-size:cover;">*@
                        <div class="panel-body EApic" data-imgsrc="@p.ImagPath" style="background: url(/Pictures/@p.ImagPath) no-repeat; background-size:cover;">
                            <div class="EAtext">
                                @foreach (var d in p.UserDatas)
                                {


                                    @Html.Raw(d.ContentTypes.PreHTML);
                                    @Html.Raw(d.Udata);
                                    @Html.Raw(d.ContentTypes.PostHTML);



                                }
                            </div>
                        </div>


                        @*closing divs of row*@
                    </div>

                </div>
            }




        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Erryl Alvares</p>

        </footer>
    </div>
    <div class="featurette-divider">
    </div>

    @Html.Partial("_imgModal");
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@

    <script>
        function initMap() {
            var uluru = { lat: 15.339782, lng: 73.987585 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFqJS4TLUqwMVQb7vq7TFZGnjvbdSZ3fA&callback=initMap">
    </script>
    <script src="~/Scripts/eaMobi.js"></script>

    @*Google Analytics*@
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137828691-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-137828691-1');
    </script>
    @* EOF Google Analytics*@

</body>

</html>
