@{
 
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An educational center for preservation of Art, Culture and Environment">
    <meta name="author" content="Erryl Alvares">
    <title>@ViewBag.Title - Big Foot Goa</title>

    <link rel="icon" href="~/Custom/logo.ico">
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .EApic {
            /*width: 314px;*/
            height: 532px;
        }

        .EAtext {
            /*width: 314px;*/
            height: 532px;
            background: #FFF;
            opacity: 0;
        }

    
        #titbg {
            margin-top:15px;
            margin-bottom:10px;
        }
    </style>
</head>
<body>
    @Html.Action("MainMenu", "Home")
    


    @Scripts.Render("~/bundles/jquery")
    <img src="~/Custom/Shellless.jpg" id="bg" alt="">
    <img src="~/Custom/shell.png" style="position:fixed; right:-38px; bottom: -45px;">


    <div id="TopBody" class="container-fluid">
        <div id="pricing" class="container-fluid pots" style="background-color: #82663A;" >
            

            @model IEnumerable<BigFoot.Content>

            

            <div id="titbg">
                <h2 style="margin:0; padding-left:30px;">The Legend Of The Big Foot</h2>
                <h3 style="font-family:'Copperplate Gothic'; font-size:large; position:relative; left:300px; margin:0; color:antiquewhite;"> - Where wishes come true</h3>
            </div>
                        
            <div class="col-sm-12" style="background: url(/Pictures/BGfoot.jpg) no-repeat; background-size:cover; height:630px; margin-bottom:10px;">


                <h2 style="font-family: 'Baskerville Old Face'">When Prayers go up, Blessings come down</h2>
                <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>*@
                        @{ int i = 0; }
                        @foreach (var image in (IEnumerable<string>)ViewBag.Images)
                        {
                            <li data-target="#myCarousel" data-slide-to="@i"></li>
                            i++;
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h4>&nbsp;<br><span>&nbsp;</span></h4>
                        </div>
                        @foreach(var image in (IEnumerable<string>)ViewBag.Images)
                        {
                            <div class="item">
                               <img src = "@image" style="max-height:500px; margin-left:auto; margin-right:auto;" />
                            </div>
                        }

                                               
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            </div>

            @foreach(var p in Model)
                        {
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">

                        @*<div class="panel-body EApic" style="background: url(/Pictures/@p.ImagPath) no-repeat; background-size:cover;">*@
                        <div class="panel-body EApic" style="background: url(/Pictures/@p.ImagPath) no-repeat; background-size:cover;">
                            <div class="EAtext">
                                @foreach (var d in p.UserDatas)
                                {


                                    @Html.Raw(d.ContentTypes.PreHTML);
                                    @d.Udata;
                                    @Html.Raw(d.ContentTypes.PostHTML);



                                }
                            </div>
                        </div>


                        @*closing divs of row*@
                    </div>

                </div>
            }




        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Erryl Alvares</p>
        </footer>
    </div>
    <div class="featurette-divider">
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@

    <script>
    $(document).ready(function () {
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a").on('click', function (event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });

        $(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });

        $(window).scroll(function () {
            $("#nextappearing").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });

    })


    </script>
    <script src="~/Scripts/eaMobi.js"></script>

</body>

</html>
